In [1]:
import pandas as pd

In [2]:
from google.colab import files
uploaded=files.upload()

Saving Admission_Predict.csv to Admission_Predict.csv

In [3]:
import io
df=pd.read_csv(io.BytesIO(uploaded['Admission_Predict.csv']))

In [4]:
df.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [5]:
df.head()

   Serial No.  GRE Score  TOEFL Score  ...  CGPA  Research  Chance of Admit
0           1        337          118  ...  9.65         1              0.92
1           2        324          107  ...  8.87         1              0.76
2           3        316          104  ...  8.00         1              0.72
3           4        322          110  ...  8.67         1              0.80
4           5        314          103  ...  8.21         0              0.65

[5 rows x 9 columns]

In [6]:
df.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [7]:
#features=['Serial No.','GRE Score','TOEFL Score','University Rating','SOP','LOR','CGPA','Research']
#X=df[['Serial No.','GRE Score','TOEFL Score','University Rating','SOP','LOR','CGPA','Research']]
features=['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research']
X=df[features]
y=df['Chance of Admit ']

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=0)

In [11]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(X_train,y_train)
predictions=model.predict(X_test)

In [12]:
from sklearn.metrics import accuracy_score

train=model.score(X_train,y_train)
print("training score  : ",train)
test=model.score(X_test,y_test)
print("testing score : ",test)

training score  :  0.8372150293755063
testing score :  0.7466998120242241

In [ ]:
from sklearn.metrics import mean_absolute_error

print("mean abs error : ",mean_absolute_error(y_test,predictions))

mean abs error :  0.047691403393013164