In [ ]:
#Program using Ensemble methods
#In this program we have to classify whether a loan will be issued or not based on certain parameters
#We have used Averaging Ensemble method and have used models like Logistic Regression,Random Forest,Decision Tree
# and Support vector machine

In [ ]:
import pandas as pd
df=pd.read_csv("UniversalBank.csv")

In [ ]:
df.columns

Index(['ID', 'Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Personal Loan', 'Securities Account',
       'CD Account', 'Online', 'CreditCard'],
      dtype='object')

In [ ]:
df.head(20)

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1
5,6,37,13,29,92121,4,0.4,2,155,0,0,0,1,0
6,7,53,27,72,91711,2,1.5,2,0,0,0,0,1,0
7,8,50,24,22,93943,1,0.3,3,0,0,0,0,0,1
8,9,35,10,81,90089,3,0.6,2,104,0,0,0,1,0
9,10,34,9,180,93023,1,8.9,3,0,1,0,0,0,0
10,11,65,39,105,94710,4,2.4,3,0,0,0,0,0,0
11,12,29,5,45,90277,3,0.1,2,0,0,0,0,1,0
12,13,48,23,114,93106,2,3.8,3,0,0,1,0,0,0
13,14,59,32,40,94920,4,2.5,2,0,0,0,0,1,0
14,15,67,41,112,91741,1,2.0,1,0,0,1,0,0,0
15,16,60,30,22,95054,1,1.5,3,0,0,0,0,1,1
16,17,38,14,130,95010,4,4.7,3,134,1,0,0,0,0
17,18,42,18,81,94305,4,2.4,1,0,0,0,0,0,0
18,19,46,21,193,91604,2,8.1,3,0,1,0,0,0,0
19,20,55,28,21,94720,1,0.5,2,0,0,1,0,0,1

In [ ]:
features=['Age', 'Experience', 'Income', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Securities Account',
       'CD Account', 'Online', 'CreditCard']

In [ ]:
X=df[features]
y=df['Personal Loan']

In [ ]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=0)

In [ ]:
from sklearn.tree import DecisionTreeClassifier

model=DecisionTreeClassifier(random_state=0)
model.fit(X_train,y_train)

predicted_value1=model.predict(X_test)
print(predicted_value1)

#print(y_test)

[0 0 0 ... 0 0 0]

In [ ]:
#now checking accuracy for train and test

print("train acc : ",model.score(X_train,y_train))
print("test acc : ",model.score(X_test,y_test))

train acc :  1.0
test acc :  0.9792

In [ ]:
#here we have set depth of tree

model=DecisionTreeClassifier(max_depth=20,random_state=0)
model.fit(X_train,y_train)


predicted_value2=model.predict(X_test)

print("train acc : ",model.score(X_train,y_train))
print("test acc : ",model.score(X_test,y_test))

train acc :  1.0
test acc :  0.9792

In [ ]:
#random forest classfier

from sklearn.ensemble import RandomForestClassifier

model=RandomForestClassifier(n_estimators=5)
model.fit(X_train,y_train)
predicted_value3=model.predict(X_test)
print("Using Random forest")
print("train acc : ",model.score(X_train,y_train))
print("test acc : ",model.score(X_test,y_test))

from sklearn.linear_model import LogisticRegression

model=LogisticRegression(C=100)
model.fit(X_train,y_train)
predicted_value4=model.predict(X_test)
print("Using logistic reg")
print("train acc : ",model.score(X_train,y_train))
print("test acc : ",model.score(X_test,y_test))

Using Random forest
train acc :  0.9989333333333333
test acc :  0.9792
Using logistic reg
train acc :  0.9469333333333333
test acc :  0.9528

C:\Users\lappy\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [ ]:
print("using SVM")

from sklearn.svm import LinearSVC
model=LinearSVC()
model.fit(X_train,y_train)
predicted_value5=model.predict(X_test)
print("train acc : ",model.score(X_train,y_train))
print("test acc : ",model.score(X_test,y_test))

using SVM
train acc :  0.9197333333333333
test acc :  0.9152

C:\Users\lappy\anaconda3\lib\site-packages\sklearn\svm\_base.py:976: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "

In [ ]:
final_prediction=(predicted_value1+predicted_value2+predicted_value3+predicted_value4+predicted_value5)/5

In [ ]:
final_prediction[final_prediction>=0.5]=1
final_prediction[final_prediction<0.5]=0

In [ ]:
final_prediction=final_prediction.reshape(-1,1)

#print("test acc : ",model.score(final_prediction,y_test))
from sklearn.metrics import accuracy_score

print("Final Accuracy  :  ",accuracy_score(y_test,final_prediction))

Final Accuracy  :   0.9816